<h2>List</h2>
<div class = "list">
  <div>
    <div class="item-title">Flush</div>
    <button type="button" (click)="flush()">Flush</button>
  </div>
  <div>
    <div class="item-title">Test TrackEvent</div>
    <button type="button" (click)="trackEvent()">Track Event</button>
  </div>
  <div>
    <div class="item-title">Test TrackTrace</div>
    <button type="button" (click)="trackTrace()">Track Trace</button>
  </div>
  <div>
    <div class="item-title">Test Track AjaxRequest</div>
    <button type="button" (click)="ajaxRequest()">Autocollect a Dependency (XMLHttpRequest)</button>
  </div>
  <div>
    <div class="item-title">Test Track FetchRequest</div>
    <button type="button" (click)="fetchRequest()">Autocollect a dependency (Fetch)</button>
  </div>
  <div>
    <div class="item-title">Test trackException</div>
    <button type="button" (click)="trackException()">Track Exception</button>
  </div>
  <div>
    <div class="item-title">Test track Throw Error</div>
    <button type="button" (click)="throwError()">Autocollect an Error</button>
  </div>
</div>